* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

}
.whatsapp{
bottom: 20px;
}
.whatsapp-img{
    z-index: 3;
        width: 8%;
        position: fixed;
        bottom: 60px;
        right: 10px;
      
}
@media(max-width:760px){
    .whatsapp-img{
     z-index: 3;

        position: fixed;
        bottom: 60px;
        right: 10px;
      
        width: 20%;
      
}
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 59px;
    /* background-image: url("/img/logo.png");
    background-size: contain;
    background-repeat: no-repeat; */
    margin: left;
    margin-left: 50px;
  
}
.logo img{
    height: 43px;
   padding: 2px;
}

.navbar {

    width: 100vw;
    height: 59px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    align-items: center;
    width: 100vw;
    border: 0px solid;
    background-color:black;
   

}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    
  
}

.navbar ul li a {

    text-decoration: none;
    display: block;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: rgb(199, 197, 197);
    


}

.navbar ul li a:hover {


    color: rgb(215, 207, 207);
    font-size: 1.12rem;
border-bottom: 3px solid blue;
    /* box-shadow: rgba(188, 12, 12, 0.25) 0px 50px 100px -20px, rgba(188, 10, 10, 0.3) 0px 30px 60px -30px, rgba(10, 104, 198, 0.35) 0px -2px 6px 0px inset; */
    /* border-radius: 20px; */
    text-shadow: 2px 0px 6px
}

.nav-con li {
    margin: 0px 20px;
    list-style: none;
    font-family: "Poppins";

}

/* toggle */

.toggle-button{
    position: absolute;
    top: .99rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    }
    .toggle-button .bar{
    height: 4px;
    background-color: #fff;
    background-origin:padding-box ;
    border-radius: 10px;
    margin-top: 4px;
  
    
    }
    @media (max-width:850px){
        .navbar .logo{

            display: flex;
            visibility: visible;
            margin-top: 12px;
            margin-left: 10px;
            align-items: center;
        
            height: 59px;
            width:122px ;
       }
      
   .toggle-button{
   display: flex;
  
   
   
   }
   
   
   .nav-con{

   display: none;
   width: 100%;
   margin-top: 59px;

   }
   .navbar{
       
   flex-direction: column;
   align-items: flex-start;
   
   
   }
   
   .nav-con ul{
    flex-direction: column;
    margin-top: -71px;
    background-color: rgb(0, 0, 0);
    position:absolute;
    right: 0px;
    height: 300px;
    padding-top: 50px;
    gap: 6px;
    align-items: start;
   
   }
   .nav-con li{
   text-align: center;
   
  
   }
   .nav-con li a{
   padding: .5rem 1rem;
   
   /* background-color: #121010d7; */
   
   }
   .navbar ul li a{
 font-size: .95rem;
   
   
   
   }
   .nav-con.active{
    display: flex;
    align-items: start;
   }
    }

.foo-contact {
    height: 180px;
    background-color: #3f372d;
    display: flex;
    align-items: center;
justify-content:space-around;

  }
  .cntct{
display: flex;
 gap: 10px;
 align-items: center;
 font-size: 1.4rem;
 flex-direction: column-reverse;
  }
/* footer{
    margin: 0;
    padding: 0;
}
.footer{
    position: relative;

    height: auto;
    padding: 50px 100px;
    background-color: black;
    display: flex;
}
.footer li{
    color: white;
   list-style: none;
   
}
.footer a{
text-decoration: none;
   
}
.footer img{
    height: 60px;
    position: relative;
    right: -281px;
}
.foo-manu ul a{
padding: .8rem;
}
.foo-manu h2{
color: #6dddcb;
}
.footer p{
    font-size: 1.1rem;
}
footer .map iframe{

    border: 2px solid gray;
    display: flex;
    position: absolute;
    right: 30px;
    height: 300px;
    width: 300px;
 

  }  
@media(max-width:760px){
  footer .map iframe{
    border: 2px solid gray;
    display: flex;
    position: absolute;
    right: 30px;
    height: 150px;
    width: 150px;
    bottom: 100px;
    left: 200px;
  }  
.foo-contact {
    height: 100px;
  }
  .foo-contact .cntct{
    font-size: .6rem;
  }
  .foo-contact .cntct svg{
height: 20px;
  }
 footer p{
    font-size: 0.8rem;
 }
 .footer img{
    height: 39px;
    position: relative;
    right: -61px;
    width: 115px;
 }
 
} */
/*New footer  */

footer{
   
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: black;
    
}
footer #container{
    width: 100%;
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr ;
    grid-gap: 30px;
    justify-content: center;
  padding: 7px;

}
footer #container .aboutus h2{
    position: relative;
    color: #8ce4d6;
    font-weight: bold;
    margin-bottom: 0px;
    padding-left: 25px;
}
footer #container .aboutus p{
    color: rgb(69, 87, 81);
    padding: 7px;

}
footer #container .social{
    margin-top: -11px;
    display: grid;
    grid-template-columns: repeat(5,39px);
}
footer #container .social li{
    list-style: none;
}
footer #container .social li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    display: grid;
    background: #8ce4d6;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}
footer #container .social li a i{
    font-size: 25px;
}
footer #container .quicklink{
    position: relative;

}
footer #container .quicklink ul li{
    list-style: none;
    justify-content: flex-start;
}
footer #container .quicklink h2{
    position: relative;
    color: #8ce4d6;
    font-weight: bold;
    margin-bottom: 0px;
    padding-left: 23px;
}
footer #container .quicklink ul li a{
text-decoration: none;
color: #f6f4f4;
margin-top: 10px;
display: inline-block;
}
.copyrightText{
    width: 100%;
    background: #000;
    padding: 20px 100px 30px;
    text-align: center;
    border: 1px solid black;
    margin: 0;
    color: white;
    font-size: 15px;
    height: 56px;
}
footer .map iframe{
    width: 300px;
    height: 300px;
}
@media (max-width:760px){
    footer .map iframe{
        width: 120px;
        height: 120px;
    }
    footer{
        padding: 40px;
        background-color:black;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    footer #container{
        width: 100%;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 20px;
    padding: 7px;
    margin: -2px;
    }
    .copyrightText{
        padding: 20px 40px 30px;
        font-size: 10px;
    }
    footer #container .quicklink ul li{
       
        justify-content: flex-start;
    }
}


/* .hide{
    display: none;

} */
.first {
    display: flex;
    background: transparent;
    background: url(img/img2.jpg);
    height: 550px;
    background-size: cover;
    filter: brightness(62%);
    margin-top: 59px;
    padding: 0;
    justify-content: space-between;

}

#google_translate_element {
    display: flex;
    background-color: #0000004a;
    height: 50px;
    width: 175px;
    align-items: center;
    text-align: end;
    border-radius: 12px;
}

.textbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.46);
    height: 176px;
    width: 528px;
    margin: auto 80px;
    color: aliceblue;
    backdrop-filter: 30%;
    padding: 20px;
    border-bottom-right-radius: 108px; 
    border-top-left-radius: 108px;
    backdrop-filter: blur(4px);

}
@media(max-width:1000px){
    .textbox{
        display: flex;
        font-size:.5rem;
      width: 400px;
      align-items: center;
      top: 4px;
      height: 150px;
      background-color: rgba(0, 0, 0, 0.192);
      backdrop-filter: blur(1px);
    }
    .textbox h1{
        font-size: small;
       margin-top: 20px;
    }
    .first{
        background-size: cover;
      
        align-items: center;
        height:200px;
        width: 100%;
    }
   
    #google_translate_element{
        display: none;
    }
    .about .abt {
       height: 150px;
      
    }
    .abt .abt-border {
        width: 179px;
        height: 121px;
        /* justify-content:space-evenly; */
        
      }
    .abt .abt-border  img {
        display: flex;
        justify-content: center;
    margin-left: -25px;
        height: 35px;
    }
    .abt .abt-border h1 {
     font-size:2rem;  
      margin-left: -18px; 
      
    }
  #abt .abt-con1 {
        display:flex;
        height:213px;

    
    }
    .abt-con1 .con1-img {
        height: 59px;
        width: 93px;
        display: flex;
        justify-content: center;
        /* margin: 30px 0 0 50px; */
        margin-left: 20px;
      }
    
    .abt-con2 h1{
        /* display: none; */
     margin-top: 5px;   
    font-size: 16px;
    color: #0b0b0b;
    }
    .abt-con1 .para {
        font-size: .6rem;
      

    }
    
    
}

.about {
    /* height: 1909px; */
    width: 100%;

}


.abt {
    
    display: flex;

    height: 253px;
    width: 100%;
    background-size: cover;
    background-image: url(img/fact1.jpg), linear-gradient(to left, rgb(11, 11, 11), rgba(4, 3, 3, 0));

    align-items: center;
    filter: brightness(95%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.abt-border {
    display: flex;
justify-content: center;
    width: 500px;
    height: 209px;
    align-items: center;
    border-bottom-right-radius: 140px;
    border-top-right-radius: 140px;
    background-color: #1a1b1b66;
}

.abt img {
    display: flex;
    justify-content: center;

    height: 74px;
    width: 70px;
    /* margin-left: 137px; */
}

.abt h1 {
    text-decoration: underline;
    font-size: 4rem;
    display: flex;
    color: #1b1919d4
}

.abt-con1 {
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 500px;
    width: 100%;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image:linear-gradient(rgba(58, 58, 60, 0.03), rgba(148, 140, 140, 0.69), rgba(1, 0, 8, 0), rgba(153, 146, 146, 0.76), rgba(55, 58, 60, 0.82)), url(img/abt.webp)
}

.abt-con2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: -98px;  */
    /* text-align: center; */
    color: rgb(232, 237, 242);

}

.abt-manu {
    width: 487px;

}

.con1-img {
    height: 249px;
    width: 385px;

    display: flex;
    /* margin: 30px 0 0 50px */
}

.abt-sup {
    width: 487px;

}

.abt-exp {
    width: 487px;

}

.abt-con1 .para {
    /* width: 50%; */

    padding: 10px;
    margin: 20px auto;
    height: 104px;
    font-weight: bold;
    text-align: center;
    color: #0b0b0b;
}

.abt-con1 .para:hover {
    color: rgb(19, 12, 12);

}

.abt-con {
    height: 400px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.abt-img {
    padding: auto;
    width: 400px;

    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}

.abt-text {
    width: 50%;
    color: aliceblue;
    text-align: center;

    background-color: #00000036;
    border-bottom-left-radius: 108px;
    border-top-right-radius: 108px;
    backdrop-filter: blur(4px);
}

.abt-text:hover {
    box-shadow: rgba(249, 247, 247, 0.25) 0px 50px 100px -20px, rgba(252, 4, 4, 0.3) 0px 30px 60px -30px, rgba(6, 122, 239, 0.35) 0px -2px 6px 0px inset;

}

.abt-text h2 {
    font-size: 2rem;
    padding: 20px;
}

.abt-text p {
    font-weight: 500;
    padding: 30px;
}
@media (max-width:1000px)
{
    .about {
    max-height: 100%;
      
    
    }

    .abt-con{
    height: 150px;
}
    .abt-img {
        width: 120px;
        height: 115px;
      
    } 
    .abt-text {
        width: 65%;
        height: 120px;
        border-bottom-left-radius: 49px;
        border-top-right-radius: 49px;
    }
    .abt-text h2 {
        font-size: 1rem;
        padding: 10px;
    }
    .abt-text p {
     font-size: .4rem;
    padding:4px;
    }
    
}


/* profile */

.profile{ margin-top: 58px;
    height: 80vh;
        width: 100vw;
        background-image: url("img/profile.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
}
.profile-cont{
    border: none;
    width: 50vw;
    height:175px;
 display: flex;
 flex-direction: column;
 text-align: center;
 background-color: #0b0b0b52;
 color: #000000e8;
  gap: 22px;
  align-items: center;
border-radius: 3px;
  font-style: italic;
  box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}
.profile-cont h1{
    margin:30px 10px 0px}
.prof-cont{
    height: 410px;
    width: 350px;
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 7px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.prof-image{
    height: 200px;
    width: 200px;
    border:1px solid #0b0b0b;
    border-radius: 50%;
    margin-top: -50px;
}
.prof{
    width: 100vw;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}



/* product */


.product{
    margin-top: 58px;
height: 80vh;
    width: 100vw;
    background-image: url("img/img3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  

}
@media (max-width:780px){
    .product{
        height: 200px;
    }
    
}
.pro-con{
  border: none;
    width: 50vw;
    height:175px;
 display: flex;
 flex-direction: column;
 text-align: center;
 background-color: #0b0b0b5c;
 color: white;
 gap: 22px;
 box-shadow: -15px -15px 15px rgba(255,255,255,0.2), 15px 15px 15px rgba(0,0,0,0.1), inset -5px -5px 5px rgba(255,255,255,0.2), inset 5px 5px 5px rgba(0,0,0,0.1);
 border-radius: 3px;
}
.pro-con h1{
    font-weight: 50;
}
.p-img img{
    height: 400px;
    width: 100vw;
}
.p-cont{
    height: 300px;
    width: 100vw;
}

.prod1 , .prod2{
   
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.prod1 h2 , .prod2 h2{
    padding: 30px;
}

.prod-cont{
    height: 410px;
    width: 350px;
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 7px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.image{
    height: 200px;
    width: 200px;
    border:1px solid #0b0b0b;
    border-radius: 50%;
    margin-top: -50px;
}
.image:hover{
  border: 3px solid red;
  border-radius: 0px;
}

@media(max-width:760px){
    .image{
        margin-top: -90px;
    }
    .image:hover{
        border: 3px solid red;
        border-radius: 0px;
      }
}
/* Contact */
.contact{ margin-top: 58px;
    height: 70vh;
        width: 100vw;
        background-image: url("img/contact.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    
}
.cnt-con1{
border: 2px solid blue;
height: 300px;
width: 50%;
}
.cnt-con2{
border: 2px solid blue;
height: 300px;
width: 30%;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 0%;

}
.icon img{
    padding: 1rem;

}
.icon h2{
    padding: 1rem;
    font-weight: 200;
}
.icon p{
    text-align: center;
    margin-bottom: 40px;
}

    
    .contact-form {
        padding: 2rem 0;
        border-top: 1px solid #c7c7c7;
    
}
.contact-form img{
    height: 200px;
    width: 400px;
}
form{
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    padding:.375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
.detail{
    
    padding: 2rem 0;
    }
    @media screen and (min-width: 992px) {
        .detail {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
        }
      }

.cont-detail{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  
}
.cont-detail .map{
    width: 100%;
}
@media (max-width:760px){
    .contact{
        height: 156px;
    }
    .icon img{
       height: 80px;
    
    }
    .icon h2{
       
        font-weight: 100;
        font-size: 20px;
    }
    .icon p{
      font-size: small;
    }
   
}
